---
import Layout from "@layouts/Layout.astro";
import InnerHero from "@components/page_sections/InnerHero.astro";
import TextImageBlock from "@components/TextImageBlock.astro";
import Card from "@components/Card.astro";
import ButtonLink from "@components/ButtonLink.astro";
import Frameworks from "@components/page_sections/Frameworks.astro";
import SupportPlans from "@components/page_sections/SupportPlans.astro";
import FeaturedProject from "@components/page_sections/FeaturedProject.astro";
// import SectionHeader from "@components/SectionHeader.astro";
// import Tools from "@components/page_sections/Tools.astro";
import CTA from "@components/page_sections/CTA.astro";
import { Image } from "astro:assets";
import { getEntry, getEntries, getCollection } from "astro:content";
import Icon from "@components/Icon.astro";
import type { IconName } from "@components/Icon.astro";

import placeholder from "../../assets/computer-illustration-2.png";

export async function getStaticPaths() {
  const services = await getCollection("services");

  const addReferences = services.map(async (service) => {
    const features = await getEntries(service.data.features);
    const featuredProject = await getEntry(service.data.featuredProject);

    return {
      features,
      featuredProject,
      ...service,
    };
  });

  const pages = await Promise.all(addReferences);

  return pages.map((page) => {
    return {
      params: { slug: page.slug },
      props: { page },
    };
  });
}

const { page } = Astro.props;
const { title, tagline } = page.data;

const { Content } = await page.render();
---

<Layout>
  <main slot="content">
    <InnerHero
      title={tagline}
      breadcrumbs={{
        current: title,
        parents: [{ name: "Services", slug: "services" }],
      }}
    />
    <div class="content-offset">
      <div class="section-bg-gradient">
        <div class="content-wrapper">
          <!-- Intro block -->
          <TextImageBlock>
            <Fragment slot="image">
              <Image
                src={placeholder}
                alt=""
                width={900}
                loading="eager"
                format="webp"
              />
            </Fragment>
            <Fragment slot="text">
              <div class="flow">
                <h2>{tagline}</h2>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Delectus quaerat nisi dolor, voluptate totam aspernatur
                  maiores minima labore nihil facilis.
                </p>
              </div>
              <ButtonLink href="#">Get Quote</ButtonLink>
            </Fragment>
          </TextImageBlock>
          <!-- Feature grid -->
          {
            page.slug !== "ongoing-support" && (
              <div class="grid-6" id="features">
                {page.features.map(({ data }) => (
                  <Card>
                    <div class="icon-wrapper gradient">
                      <Icon
                        name={data.icon as IconName}
                        color="currentColor"
                        size="1em"
                      />
                    </div>
                    <h3 class="text-step-1">{data.title}</h3>
                    <p>{data.summary}</p>
                  </Card>
                ))}
              </div>
            )
          }
        </div>
      </div>
    </div>
    <!-- Page specific sections -->
    {page.slug === "frontend-development" && <Frameworks />}
    {page.slug === "ongoing-support" && <SupportPlans />}
    {
      page.slug !== "ongoing-support" && (
        <FeaturedProject project={page.featuredProject} serviceType={title} />
      )
    }
    <!-- Long text -->
    <div class="content-wrapper section-spacer">
      <div class="rich-content">
        <Content />
      </div>
    </div>
    <CTA />
  </main>
</Layout>
