---
import type { CollectionEntry } from "astro:content";
import { Image } from "astro:assets";

type Props = {
    project: CollectionEntry<"projects">;
};

const { project } = Astro.props;
const { title, summary, type, client, thumbnailImage } = project.data;
---

<article class="project | flow">
    <a class="image-hover-wrapper" href={`/work/${project.id}`}>
        <div class="overlay"><h2>{summary}</h2></div>
        <Image
            alt={thumbnailImage.alt}
            format="webp"
            loading="eager"
            src={thumbnailImage.src}
            width={1200}
        />
    </a>
    <div class="text | flow">
        <p class="details | cluster">
            <span class="small-title">{client}</span><span class="divider"
                >•</span
            ><span>{title}</span>
        </p>
    </div>
</article>

<style>
    .project {
        &.flow {
            --flow-space: 1.25rem;
        }
    }

    h2 {
        font-size: var(--step-3);
    }

    .text {
        &.flow {
            --flow-space: 0.75rem;
        }
    }

    .details {
        font-size: var(--step--1);

        &.cluster {
            --cluster-space: 0.5rem;
        }
    }

    .divider {
        color: var(--color-primary-5);
    }

    @container contentWrapper (max-width: 768px) {
        h2 {
            font-size: var(--step-2);
        }

        .overlay {
            padding: var(--space-m);
        }
    }
</style>
