---
import Layout from "@layouts/Layout.astro";
import Breadcrumb from "@components/Breadcrumb.astro";
import ButtonLink from "@components/ButtonLink.astro";
import Icon from "@components/Icon.astro";
import CTA from "@components/page_sections/CTA.astro";
import { Image } from "astro:assets";
import { getCollection, getEntries } from "astro:content";

export async function getStaticPaths() {
  const projects = await getCollection("projects");

  const addReferences = projects.map(async (project) => {
    const services = await getEntries(project.data.services);
    const tools = await getEntries(project.data.tools);

    return {
      services,
      tools,
      ...project,
    };
  });

  const pages = await Promise.all(addReferences);

  return pages.map((page) => {
    return {
      params: { slug: page.slug },
      props: { page },
    };
  });
}

const { page } = Astro.props;
const {
  title,
  summary,
  featuredImage,
  galleryImages,
  type,
  services,
  scope,
  url,
} = page.data;

const { Content } = await page.render();
---

<Layout headerTheme="normal">
  <main slot="content">
    <article class="grid-9 content-wrapper section-spacer">
      <header class="hero">
        <Breadcrumb
          current={title}
          parents={[{ name: "Work", slug: "work" }]}
        />
        <h1>{summary}</h1>
        {
          url && (
            <ButtonLink classes={["mt-l", "animate-up-right"]} href={url}>
              <span>Live Site</span>
              <Icon name="arrow-up-right" />
            </ButtonLink>
          )
        }
      </header>
      <dl>
        <dt><strong>Services</strong></dt>
        <dd class="services | cluster">
          {
            page.services.map((service) => (
              <a href={`/services/${service.slug}`}>{service.data.title}</a>
            ))
          }
        </dd>
        <dt><strong>Scope</strong></dt>
        <dd class="scope | cluster">
          {page.data.scope.join(", ")}
        </dd>
        <dt><strong>Tools</strong></dt>
        <dd class="tools | cluster">
          {
            page.tools.map((tool) => (
              <span
                class="relative"
                aria-label={tool.data.title}
                x-data="{ show: false }"
                x-on:mouseenter="show = true"
                x-on:mouseleave="show = false"
              >
                <Image
                  src={tool.data.logo}
                  alt={`${tool.data.title} logo.`}
                  width={24}
                  height={24}
                  format="svg"
                />
                <p
                  class="tooltip"
                  x-bind:class="show && 'show'"
                  role="alert"
                  aria-live="polite"
                >
                  {tool.data.title}
                </p>
              </span>
            ))
          }
        </dd>
      </dl>
    </article>
    <div class="gallery">
      {
        galleryImages?.map((image) => (
          <Image
            src={image.src}
            alt={image.alt}
            width={1600}
            height={1140}
            format="webp"
            loading="eager"
          />
        ))
      }
    </div>
    <div class="grid-9 content-wrapper">
      <article class="rich-content | subgrid">
        <Content />
      </article>
    </div>
    <CTA />
  </main>
</Layout>

<style>
  main {
    position: relative;
  }

  .grid-9 {
    row-gap: var(--space-xl);
    grid-template-columns:
      [content-start main-start] 1fr [image-start] 1fr [center-start] 1fr [indent-start] 1fr 1fr 1fr [main-end sidebar-start] 1fr [center-end] 1fr [image-end] 1fr
      [sidebar-end content-end];
  }

  .section-spacer:has(.hero) {
    margin-block-start: calc(var(--section-spacer) * 1.5);
    margin-block-end: calc(var(--section-spacer) * 0.75);
  }

  .hero {
    grid-column: main-start / main-end;
    padding-inline-end: var(--space-2xl);

    & + dl {
      display: grid;
      grid-template-columns: subgrid;
      grid-column: sidebar-start / sidebar-end;
      font-size: var(--step--1);
      margin-block-start: calc(var(--space-xl) + 1rem);

      & :is(dt, dd):not(:first-of-type) {
        margin-block-start: var(--space-m);
      }

      & dd {
        grid-column: span 2;

        &.cluster {
          --cluster-align: flex-start;
          column-gap: 1rem;
          row-gap: 0.5rem;
        }
      }

      & .tools {
        &.cluster {
          column-gap: 1.25rem;
        }

        & img {
          width: 1.5em;
          height: 1.5em;
          aspect-ratio: 1;
          object-fit: contain;
        }
      }
    }
  }

  h1 {
    margin-block-start: var(--space-l);
  }

  .gallery {
    position: relative;
    display: flex;
    gap: var(--space-2xl);
    justify-content: center;
    align-items: center;
    background: var(--color-dark-gradient);
    padding-block: var(--space-2xl);
    margin-block-end: var(--section-spacer);
    overflow: hidden;

    & img {
      position: relative;
      aspect-ratio: 7/5;
      object-fit: cover;
      width: 33%;
      height: auto;
      inset: 0;
      border-radius: var(--rounded-corners);
    }

    /* Middle/featured image */
    & img:nth-child(1) {
      order: 2;
      width: 50%;
    }

    & img:nth-child(2) {
      order: 1;
      mask-image: linear-gradient(to left, black, transparent);
    }

    & img:nth-child(3) {
      order: 3;
      mask-image: linear-gradient(to right, black, transparent);
    }
  }

  .rich-content {
    --block-spacing: var(--space-3xl);
    --text-spacing: var(--space-m);
    margin-block-end: var(--section-spacer);
  }

  .rich-content.subgrid {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: content-start / content-end;
    margin-inline: 0;
    max-width: none;
  }

  /* :global(.rich-content.subgrid p) {
    grid-column: content-start / main-end;
  } */

  /* :global(.rich-content.subgrid img:nth-of-type(1)) {
    grid-column: sidebar-start / sidebar-end;
  } */

  :global(.rich-content.subgrid .full-width) {
    grid-column: content-start/content-end;
  }

  :global(.rich-content.subgrid img.full-width) {
    grid-column: image-start/image-end;
  }

  :global(.rich-content.subgrid .centered, .rich-content.subgrid .stats) {
    grid-column: center-start/center-end;
  }

  :global(.rich-content.subgrid .stats) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--space-m);
  }

  :global(.rich-content.subgrid .feature) {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: content-start/content-end;
    align-items: center;
  }

  :global(.rich-content.subgrid .feature img) {
    grid-column: content-start / 5;
  }

  :global(.rich-content.subgrid .feature div) {
    grid-column: 5 / content-end;
    padding-inline-start: var(--space-xl);
  }

  :global(.rich-content.subgrid .feature[data-layout="flipped"] img) {
    grid-column: 6 / content-end;
  }

  :global(.rich-content.subgrid .feature[data-layout="flipped"] div) {
    order: -1;
    grid-column: content-start / 6;
    padding-inline-end: var(--space-xl);
  }

  /* :global(
      .rich-content.subgrid .feature .feature-content :is(h2, h3),
      .rich-content.subgrid .block :is(h2, h3)
    ) {
    margin-block-end: var(--text-spacing);
  } */

  :global(
      .rich-content.subgrid .feature .feature-content * + *,
      .rich-content.subgrid .block * + *
    ) {
    margin-block-start: var(--text-spacing);
  }
</style>
