---
import Card from "@components/Card.astro";
import Icon from "@components/Icon.astro";
import ButtonLink from "@components/ButtonLink.astro";

import type { CollectionEntry } from "astro:content";
import type { IconName } from "@components/Icon.astro";

type Props = {
  entries: CollectionEntry<"services">[];
};

const { entries } = Astro.props;
---

<div class="grid-6 feature-span">
  {
    entries.map((entry) => (
      <Card>
        <div class="icon-wrapper gradient">
          <Icon
            name={entry.data.icon as IconName}
            color="currentColor"
            size="1em"
          />
        </div>
        <h3 class="text-step-1">
          <a class="color-underline" href={`/services/${entry.slug}`}>
            {entry.data.preview.title}
          </a>
        </h3>
        <p>{entry.data.preview.summary}</p>
        <footer>
          <a href={`/services/${entry.slug}`}>
            <strong>{entry.data.title} Services</strong>
            <Icon name="chevron-right" size="1em" />
          </a>
        </footer>
      </Card>
    ))
  }
  <Card theme="dark">
    <div class="icon-wrapper gradient">
      <Icon name="envelope" color="currentColor" size="1em" />
    </div>
    <h3 class="text-step-1">
      <a class="color-underline" href={`/contact`}>Get in Touch</a>
    </h3>
    <p>
      Whether you’re an organization, agency, or individual, reach out to see
      how I can help level-up your online presence..
    </p>
    <ButtonLink theme="ghost" href="/contact">Get a Quote</ButtonLink>
  </Card>
</div>
